<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Weather:</strong>
    <%#= city.weather %> <br>
  
    <%= item.city.latitude %>
    <%= item.city.longitude %>
  </p>

  <p>
    <strong>Description:</strong>
    <%#= city.description %>
  </p>



</div>