<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Weather:</strong>
    <%#= city.weather %> <br>
    <img src="http://openweathermap.org/img/wn/<%#= item.city.weather_data['weather'].first['icon'] %>@2x.png" alt="">
    <%= item.city.weather_data['weather'].first["main"] %> <br>
    <%= item.city.weather_data['main']["temp"] %>
  </p>

  <p>
    <strong>Description:</strong>
    <%#= city.description %>
  </p>



</div>