<div id="<%= dom_id item %>">
<table id="customers">
  <tr>
    <th>Item Name</th>
    <th>Description</th>
    <th>City</th>
  </tr>

  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.city_id %></td>
  </tr>
</table>

</div>
